<% include ../partials/header.ejs %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <div class="container">
        <h1 class="text-center"><%= camp.name %></h1>
        <img class="img-fluid img-rounded mx-auto d-block" src="<%= camp.photo %>">
        <p><%- camp.desc %></p>
        <p>
           <em>Created by <strong><%- camp.author.username %></strong></em>
        </p>
        <div class="text-center">
            <a href="<%=camp.id%>/editCampground" class="btn btn-primary">Edit</a>
            <form action="/campgrounds/<%= camp.id %>?_method=DELETE" method="POST" class="form-inline">
               <button class="btn btn-warning">Delete</button>
            </form>
        </div>
        <!-- ADD NEW COMMENT BUTTON -->
        <div class="text-right my-3">
            <a href="<%=camp.id%>/comments/newComment" class="btn btn-primary">New comment<i class="fa fa-commenting" aria-hidden="true"></i></a>
        </div>
        <!-- COMMENTS SECTION -->
        <% camp.comments.forEach(function(comment){ %>
            <div class="card mb-3">
                <div class="card-header">
                  <% var formattedDate = moment(comment.createdAt).startOf('day').fromNow(); %>
                  <strong><%= comment.author.username %></strong> commented on <%= formattedDate %>
                </div>
                <div class="card-block">
                    <p class="card-text"><%- comment.body %></p>
                </div>
            </div>
        <% }); %>
    </div>

<% include ../partials/footer.ejs %>